<!DOCTYPE html>
<html>
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <a href="{% url 'cliente_create' %}">Agregar nuevo cliente</a>
    <ul>
        {% for cliente in clientes %}
            <li>
                <a href="{% url 'cliente_detail' cliente.pk %}">{{ cliente.nombre }}</a>
                <a href="{% url 'cliente_update' cliente.pk %}">Editar</a>
                <a href="{% url 'cliente_delete' cliente.pk %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>